In [ ]:
from warnings import filterwarnings
filterwarnings("ignore")
import pandas as pd

# 1.read data

In [1]:
import pandas as pd
trd = pd.read_csv("E:\data science\ Hdata tset 1.csv")

In [2]:
trd.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal

In [3]:
import pandas as pd
tsd = pd.read_csv("E:\data science\Hdata tset 2.csv")

In [4]:
tsd.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500

# Missing Data treatment

In [5]:
Q = pd.DataFrame(trd.isna().sum(),columns=["ct"])
Q[Q.ct > 0].index

Index(['MSZoning', 'LotFrontage', 'Alley', 'Utilities', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath',
       'BsmtHalfBath', 'KitchenQual', 'Functional', 'FireplaceQu',
       'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea',
       'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType'],
      dtype='object')

In [6]:
Q = pd.DataFrame(tsd.isna().sum(),columns=["ct"])
Q[Q.ct > 0].index

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

In [4]:
from miss import replacer
replacer(trd)
replaceer(tsd)

ImportError: cannot import name 'replacer' from 'miss' (C:\Users\HP\anaconda3\lib\site-packages\miss\__init__.py)

# Drop Unnecessary

In [ ]:
trd1 = trd.drop(labels=["Id"],axis=1)
tsd1 = tsd.drop(labels=["Id"],axis=1)

# Find Con and Cat columns

# Univariate analysis and skew removal

# Bivariate

In [ ]:
Q = trd1.corr()[["SalePrice"]] 
con_cols_to_consider = list(Q[Q.SalePrice > 0.3].sort_values(by="SalePrice",ascending=False).index)
con_cols_to_consider.remove("SalePrice")

In [ ]:
def ANOVA(df,cat,con):
    from pandas import DataFrame
    from statsmodels.api import OLS
    from statsmodels.formula.api import ols
    rel = con + " ~ " + cat
    model = ols(rel,df).fit()
    from statsmodels.stats.anova import anova_lm
    anova_results = anova_lm(model)
    Q = DataFrame(anova_results)
    a = Q['PR(>F)'][cat]
    return round(a,3)

In [ ]:
W = []
for i in cat:
    W.append(ANOVA(trd1,i,"SalePrice"))

In [ ]:
Q = pd.DataFrame([cat,W]).T
Q.columns = ["column","pval"]

In [ ]:
cat_cols_to_consider = list(Q[Q.pval < 0.1].column)

# Preprocessing of training set¶

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
tr1 = trd1[cat_cols_to_consider].apply(le.fit_transform)

from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
tr2 = pd.DataFrame(ss.fit_transform(trd1[con_cols_to_consider]),columns=con_cols_to_consider)

In [ ]:
trd3 = tr2.join(tr1)

In [7]:
trd3.head(2)

NameError: name 'trd3' is not defined

In [8]:
trd3=trd2.join(tr1)

NameError: name 'trd2' is not defined

In [9]:
trd3.shape

NameError: name 'trd3' is not defined